@import './mixin.scss';

.App {
  background-color: #000000;
  height: 100vh;
  padding: 60px 10px 0;

}



.row{
  width: 100%;

  @include media(md) {
    margin: 0 auto;
    width: 80%;
    
  }

}