@import '../../mixin.scss';

.image__container{
  width: 100%;
  
  @include media(md) {
    width: 300px;
  }
}

.zoomIn{
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.image {
    width: 100%;
  &:hover{
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 30px;
  }
}

.imageBig{
  height: 80vh;
  &:hover{
    cursor: -moz-zoom-out; 
    cursor: -webkit-zoom-out; 
    cursor: zoom-out;
  }
}

